<div class="container" style="height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center;">
<!-- Credit Card Payment Form - START -->

<div class="container" *ngIf="!jeLiPlaceno">
    <div class="row" style="display: flex; justify-content: center; align-items: center;">
        <div class="" style="width: 80%">
            <div class="panel panel-default" style="box-shadow: -1px 3px 85px 0px rgba(0,0,0,0.75); padding: 55px; width: 100%;">
                <div class="panel-heading">
                    <div class="row">
                        <h3 class="text-center">Detalji plaćanja</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>BROJ KARTICE</label>
                                    <div class="input-group" style="width: 100%;">
                                        <input type="tel" class="form-control" placeholder="Broj kartice" size="40" name="brojKartice" [(ngModel)]="brojKartice"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 col-md-7">
                                <div class="form-group">
                                    <label><span class="hidden-xs">DATUM ISTEKA</span><span class="visible-xs-inline"></span> </label>
                                    <input type="tel" class="form-control" placeholder="MM / GG" size="10"/>
                                </div>
                            </div>
                            <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group">
                                    <label>CV KOD</label>
                                    <input type="tel" class="form-control" placeholder="CVC" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label>VLASNIK KARTICE</label>
                                    <input type="text" class="form-control" placeholder="Ime i Prezime" size="40" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-warning btn-lg btn-block" (click)="plati()">PLATI</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .cc-img {
        margin: 0 auto;
    }
</style>
<!-- Credit Card Payment Form - END -->

<div class="container" *ngIf="jeLiPlaceno">
    <table >
        <tbody>
            <tr>
                <td>4</td>
                <td>5</td>
                <td>5</td>
                <td>6</td>
                <td>5</td>
                <td>9</td>
                <td>2</td>
                <td>0</td>
                <td>9</td>
                <td>6</td>
                <td>1</td>
                <td>7</td>
                <td>9</td>
                <td>7</td>
                <td>4</td>
                <td>8</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>1</td>
            </tr>
            <tr>
                <td>8</td>
                <td>5</td>
                <td>1</td>
                <td>6</td>
                <td>1</td>
                <td>9</td>
                <td>4</td>
                <td>0</td>
                <td>9</td>
                <td>6</td>
                <td>2</td>
                <td>7</td>
                <td>9</td>
                <td>7</td>
                <td>8</td>
                <td>8</td>
            </tr>
        </tbody>
    </table>

    <h2>Rezultat: 90</h2>
    <h2>Rezultat završava nulom, kartica validna</h2>
    <br>
    <h3>Taksa za izdavačku banku: 1.7%, odbijeno 1.7 BAM</h3>
    <h3>Taksa za VISA servis: 0.1%, odbijeno 0.1 BAM</h3>
    <h3>Taksa za stecateljsku banku: 0.2%, uplaćeno 0.2 BAM</h3>
    <br>
    <h2>Prodavnici je uplaćeno 98 BAM</h2>
</div>

</div>
